body {
  background-color: #f5f3fb;
  font-family: "Roboto", sans-serif;
}

.weather-app {
  background: #ffff;
  max-width: 600px;
  margin: 40px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
  padding: 30px;
}
